<%= form_with model: cert do |form|%>
<div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <% @cert.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
</div>
<div>
    <%= form.label :image %>
    <%= form.file_field :image, accept: "application/pdf, image/*"%>
    <% @cert.errors.full_messages_for(:image).each do |message| %>
      <div><%= message %></div>
    <% end %>
</div>
<div>
    <%= form.label :expires %>
    <%= form.date_field :expires %>
    <% @cert.errors.full_messages_for(:expires).each do |message| %>
      <div><%= message %></div>
    <% end %>
</div>

  <div>
    <%= current_user.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

<div><%= form.submit%></div>
<%end%>