<div class="cert-display-card">
  <% @certs.each do |cert| %>
    <div class="cert">
      <div class="details-panel">

        <p class="details-item "><%= link_to cert.name.upcase, cert_path(cert), class: "cert-link name" %></p><br>
        <% if cert.expires.nil? %>
          <p class="details-item">Does not expire</p>
        <% else %>
          <p class="details-item">Expires:<br /> <%= cert.expires.strftime("%d / %m / %y") %> </p><br />
          <p class="details-item"><%= cert.expires_in %></p>
        <% end %>
      </div>
      <div class="image-panel">
        <% if cert.attached_file_type == "image" %>
          <%= image_tag cert.image, class: "cert-image" %>
        <% elsif cert.attached_file_type == "pdf" %>
          <%= image_tag cert.image.representation(resize_to_limit: [150, 107])%>
        <% else %>
          Image supplied is not accepted format.  Must be image (.jpg, .jpeg, .png etc) or pdf.
        <% end %>
      </div>

    </div>
  <% end %></div>